<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gdg.devfest.mlkit">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".ui.HomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ImageLabelOnCloud"
            android:theme="@style/AppThemeNoActionbar"
            android:parentActivityName=".ui.HomeActivity" />
        <activity android:name=".ui.LandmarkDetectorActivity"
            android:parentActivityName=".ui.HomeActivity" />
        <activity android:name=".ui.ImageLabelActivity" android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="label" />
        </activity>
        <activity android:name=".ui.FaceDetectionActivity" android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="face" />
        </activity>
    </application>

</manifest>